<script>
  export default {
    props: {
      text: String,
      clickHandler: {
        type: Function,
        default: () => {
        },
      },
    },
    render(h) {
      const {
        text,
        clickHandler,
        $style: styles,
      } = this;

      return (
        <button class={styles.button} onClick={clickHandler} domPropsInnerHTML={text}/>
      )
    }
  }
</script>

<style module lang="scss">
  .button {
    height: 56px;
    padding: 0 20px;
    color: white;
    background: #f50057;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
</style>
