<script>
  import Button from "./Button";

  export default {
    components: {Button},
    props: {
      title: String,
      subTitle: String,
      description: String,
      ctaText: String,
      freeExerciseText: String,
      freeExerciseLinkTitle: String,
      videoUrl: String,
      isPlaying: Boolean,
      ctaClickHandler: {
        type: Function,
        default: () => {
        }
      },
      playClickHandler: {
        type: Function,
        default: () => {
        }
      },
      freeExerciseClickHandler: {
        type: Function,
        default: () => {
        }
      },
    },
    render(h) {
      const {
        title,
        subTitle,
        description,
        ctaText,
        freeExerciseText,
        freeExerciseLinkTitle,
        videoUrl,
        isPlaying,
        playClickHandler,
        ctaClickHandler,
        freeExerciseClickHandler,
        $style: styles,
      } = this;

      return (
        <div class={styles.container}>
          <div class={styles.title} domPropsInnerHTML={title}/>
          <div class={styles.subTitle} domPropsInnerHTML={subTitle}/>
          <div class={[
            styles.videoContainer,
          ]}>
            <div class={styles.videoInner}>
              {isPlaying && <iframe src={videoUrl}/>}}
              {!isPlaying && <button onClick={playClickHandler} class={styles.playButton}/>}
            </div>
          </div>
          <div class={styles.description} domPropsInnerHTML={description}/>
          <Button clickHandler={ctaClickHandler} text={ctaText} class={styles.cta}/>
          <div class={styles.freeExercise}>
            {freeExerciseText}
            <button class={styles.freeExerciseLink} onClick={freeExerciseClickHandler}
                    domPropsInnerHTML={freeExerciseLinkTitle}/>
          </div>
          <div class={styles.preview}/>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  .container {
    padding: 40px 40px 0;
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  .subTitle {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 47px;
  }

  .videoContainer {
    position: relative;
    max-width: 960px;
    margin: 65px auto 0;
    border-radius: 33px;
    background: #e67ebc;

    box-shadow: -4px -4px 0 0 #fb92cd,
    -5px -5px 0 0 #b18acd,
    inset 2px 2px 2px 0 transparentize(black, .9),
    inset -2px -2px 2px 0 transparentize(white, .9),
    0 0 10px 1px #fb92cd,
    0 0 0 5px #b34c8d;

    &:before {
      content: '';
      padding-bottom: 70%;
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 40px;
      height: 35px;
      width: 35px;
      transform: translateY(-50%) translateX(50%);
      border-radius: 100%;
      box-shadow: inset 2px 2px 2px 0 transparentize(black, .9),
      inset -2px -2px 2px 0 transparentize(white, .9),
      0 0 10px 1px #fb92cd,
      0 0 0 2px #b34c8d;
    }
  }

  .videoInner {
    position: absolute;
    top: 36px;
    bottom: 36px;
    left: 80px;
    right: 80px;
    background: #034899;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .playButton {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: transparentize(white, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;

    &:before {
      content: '';
      height: 80px;
      width: 100px;
      background: no-repeat center url(../assets/svg/play.svg);
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) translateX(10px);
    }
  }

  .description {
    margin-top: 80px;
    color: white;
    text-align: center;
    font-size: 32px;
  }

  .cta {
    margin: 67px auto 0;
    min-width: 220px;
  }

  .freeExercise {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: white;
  }

  .freeExerciseLink {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
  }

  .preview {
    background: no-repeat top center url(../assets/images/i-mac.png);
    background-size: cover;
    height: 372px;
    margin-top: 15px;
  }
</style>
