<script>
  export default {
    props: {
      reasons: Array,
      titleText: String,
    },
    render(h) {
      const {
        $style: styles,
        titleText,
        reasons,
      } = this;

      return (
        <div class={styles.container}>
          <div class={styles.title} domPropsInnerHTML={titleText}/>
          <div class={styles.list}>
            {reasons.map(({key, title, description}) => (
              <div key={key} class={styles.reason}>
                <div class={styles.reasonTitle} domPropsInnerHTML={title}/>
                <div class={styles.reasonDescription} domPropsInnerHTML={description}/>
              </div>
            ))}
          </div>
        </div>
      )
    }
  }
</script>


<style module lang="scss">
  @import "../assets/utilities";

  .container {
    @include container;
  }

  .title {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .list {
    margin-top: 19px;
    display: grid;
    grid-gap: 40px;
  }

  .reason {
    display: grid;
    grid-gap: 20px;
    max-width: 590px;
  }

  .reasonTitle {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .reasonDescription {
    color: #707070;
  }
</style>
