<script>
  import Jumbotron from "../components/Jumbotron";
  import Reasons from "../components/Reasons";

  export default {
    components: {Reasons, Jumbotron},
    computed: {
      isJumbotronVideoPlaying() {
        return this.$store.state.content.isJumbotronVideoPlaying
      },
      jumbotronVideoUrl() {
        return this.$store.state.content.jumbotronVideoUrl
      }
    },
    methods: {
      setJumbotronPlayingState() {
        this.$store.commit(`content/${this.isJumbotronVideoPlaying ? 'stop' : 'play'}Jumbotron`)
      },
    },
    render(h) {
      const {
        $style: styles,
        isJumbotronVideoPlaying,
        setJumbotronPlayingState,
        jumbotronVideoUrl,
      } = this;

      return (
        <div>
          <div class={styles.jumbotronContent}>
            <div class={styles.container}>
              <Jumbotron
                title={'Интенсивный авторский видео курс<br/>Профессиональная обработка фотографии'}
                subTitle={'<b>Всего за 16 уроков</b>, доступным для каждого языком, мы научим как профессионально обработать фотографии, даже если вы не знаете программ <b>Lightroom и Photoshop</b>.'}
                description={'После прохождения курса вы сможете обрабатывать фотографии на уровне коммерческих работ и станете <b>высокооплачиваемым специалистом</b>.'}
                ctaText={'Пройти курс'}
                freeExerciseText={'Или получить'}
                freeExerciseLinkTitle={'бесплатное обучение'}
                isPlaying={isJumbotronVideoPlaying}
                playClickHandler={setJumbotronPlayingState}
                ctaClickHandler={() => {
                  alert('cta')
                }}
                freeExerciseClickHandler={() => {
                  alert('free')
                }}
                videoUrl={jumbotronVideoUrl}
              />
            </div>
          </div>
          <div class={styles.reasonsContent}>
            <Reasons
              reasons={[
                {
                  key: 'pages',
                  title: 'Ведете личные или клиентские страницы',
                  description: 'Видеокурс поможет вам сделать ваши фотографии сочными, гармоничными и живыми. Они будут привлекать внимание ваших посетителей, это естественным образом отразится на увеличении ваших подписчиков. Вы научитесь не только обработке, но и правильному сохранению фотографий для соц сетей, без потери качества.',
                },
                {
                  key: 'photograph',
                  title: 'Начинающий или профессиональный фотограф',
                  description: 'Вы научитесь быстрой и самое главное правильной обработке фотографии в Lightroom и Photoshop., вы узнаете авторские методики работы со слоями, экшенами, цветокорекцбией, ретушью и многое другое. Вы узнаете как обрабатывать фотографии без потери текстуры объектов. Сделать так что бы фотография после обработки была живыми.',
                },
                {
                  key: 'edition',
                  title: 'Хотите научиться профессиональной обработке фотографии',
                  description: 'Вы пошагово, сможете освоить все инструменты Lightroom и Photoshop. за 16 уроков и обрабатывая свои фотографиях добиться феноменальных результатов.'
                }
              ]}
              titleText={'Этот курс для Вас, если Вы'}
            />
            <div class={styles.reasonsImage}/>
          </div>
        </div>
      )
    }
  }
</script>

<style module lang="scss">
  @import "../assets/utilities";

  .container {
    @include container
  }

  .jumbotronContent {
    background: no-repeat center url(../assets/images/primary-background.png);
    background-size: cover;
  }

  .reasonsContent {
    padding: 120px 0;
    position: relative;
  }

  .reasonsImage {
    position: absolute;
    right: -195px;
    bottom: 0;
    width: 1350px;
    background: no-repeat right 130px url(../assets/images/mountain.png);
    background-size: contain;

    &:before {
      content: '';
      display: block;
      padding-bottom: 54%
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 130px;
      background: no-repeat 252px 0 url(../assets/svg/mountain.svg);
      background-size: contain;
    }
  }
</style>
