@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

button,
input,
textarea,
select,
option,
a {
  font: inherit;
  color: inherit;
}

body {
  overflow-y: hidden;
}

.body {
  height: 100vh;

  overflow-y: auto;
  overflow-x: hidden;

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
  }
}
